@font-face {
  font-family: 'Star Jedi Outline';
  src: url('../fonts/sw.eot');
  src: url('../fonts/sw.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sw.woff2') format('woff2'),
  url('../fonts/sw.woff') format('woff'),
  url('../fonts/sw.ttf') format('truetype'),
  url('../fonts/sw.svg#StarJediOutline') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 450px;
  height: 350px;
  overflow: scroll;
  cursor: url('../images/red.cur'), default;
  font-family: 'Star Jedi Outline', sans-serif !important;
}
#starwarsapp {
  &:after {
    content: "";
    background-image: url("../images/swbg.jpg");
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  a {
    text-decoration: none;
    cursor: url('../images/green.cur'), default;
    &:hover,
    &:visited,
    &:active {
      text-decoration: none;
      cursor: url('../images/green.cur'), default;
    }

  }
  .divider {
    display: block;
    height: 10px;
  }
  .swtext {
    color: #EECF2E;
    background: black;
  }
  .img_thumb_full {
    width: 100%;
    height: auto;
  }
  .imgHolder {
    line-height: 100px;
    a {
      display: inline-block;
      width: 100px;
      height: 100px;
      .img_thumb {
        height: 100%;
        width: 100%;
        border: 2px solid #EECF2E;
      }

    }
  }
  .link-wrapper {
    a {
      display: inline-block;
      padding: 3px;
    }
  }
  .sw_list {
    li {
      list-style-image: url('../images/liicon.png');
      a {
        color: black;
      }
    }
  }
  .pagination {
    li {
      span {
        background: black;
        color: #EECF2E;
        &:hover {
          background: #EECF2E !important;;
          color: black !important;
          cursor: url('../images/green.cur'), default !important;
        }
      }
      &.active {
        span {
          background: #EECF2E;
          color: black;
        }
      }
    }
  }
}
