<div data-ng-show="totalPages > 1" class="row">
  <div class="col-xs-12 text-center">
    <ul class="pagination">
      <li data-ng-show="currentPage != 1" data-ng-click="prevPage()"><span><<</span></li>
      <li data-ng-click="getData($index+1)"
          ng-class="{active:currentPage==$index+1}"
          ng-repeat="i in getNumber(totalPages) track by $index">
        <span> {{ $index+1 }} </span>
      </li>
      <li data-ng-show="currentPage != totalPages" data-ng-click="nextPage()"><span>>></span></li>
    </ul>
  </div>
</div>
