<div class="divider"></div>
<div class="divider"></div>
<div class="row">
  <div class="col-xs-12 text-center page-title swtext">{{ currentUser.name }}</div>
  <div class="divider"></div>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col-xs-6">
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <div class="swtext">General</div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-8">Species</div>
      <div class="col-xs-4">{{ currentUser._species }}</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-8">Height</div>
      <div class="col-xs-4">{{ currentUser.height }}</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-8">Mass</div>
      <div class="col-xs-4">{{ currentUser.mass }}</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-8">Hair Color</div>
      <div class="col-xs-4">{{ currentUser.hair_color }}</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-8">Skin Color</div>
      <div class="col-xs-4">{{ currentUser.skin_color }}</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-8">Birthday Year</div>
      <div class="col-xs-4">{{ currentUser.birth_year }}</div>
    </div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-8">Gender</div>
      <div class="col-xs-4">{{ currentUser.gender }}</div>
    </div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div data-ng-show="currentUser._films.length > 0" class="row">
      <div class="col-xs-12 text-center">
        <div class="swtext">Films</div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="sw_list">
          <li data-ng-repeat="film in currentUser._films">
            <a ng-href="#/film/{{ film.id }}">{{ film.title }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div data-ng-show="currentUser._vehicles.length > 0" class="row">
      <div class="col-xs-12 text-center">
        <div class="swtext">Vehicles</div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="divider"></div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="sw_list">
          <li data-ng-repeat="vehicle in currentUser._vehicles">
            <a ng-href="#/vehicle/{{ vehicle.id }}">{{ vehicle.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class='imgHolder_full'>
      <img class='img_thumb_full' ng-src='{{currentUser.avatar.full}}'>
    </div>
  </div>
</div>
