<div class="divider"></div>
<div class="divider"></div>
<div class="row">
  <div class="col-xs-12 text-center page-title swtext">All People</div>
  <div class="divider"></div>
</div>
<div class="divider"></div>
<div class="row" data-ng-repeat-start="peoples in currentPagePeopleList">
  <div data-ng-repeat="person in peoples" class="col-xs-6 text-center">
    <person
      person="person"
    ></person>
  </div>
</div>
<div data-ng-repeat-end class="divider"></div>
<div class="row">
  <div class="col-xs-12">
    <pagination
      people-list="peopleList"
      current-page-people-list="currentPagePeopleList"
      source="remote"
    ></pagination>
  </div>
</div>
